extends layout

block content
  .container
    if(mensaje)
      h1 #{mensaje}
    h1 Nuevo Juego
    br
    form(role='form', action="/newgame",method="post", style='max-width: 300px;')
      .form-group
          h4 Player 1
          input.field(type='text', name="Player1", placeholder='Jugador 1')
          br
          h4 Player 2
          input.field(type='text', name="Player2", placeholder='Jugador 2')
          h4 ¿A cuantos puntos desea jugar?
          input.button1(type="submit", name="cantidad", value='6')
          input.button1(type="submit", name="cantidad", value='18')
          input.button1(type="submit", name="cantidad", value='24')
      a(href='/')
        button.button1(type="button") Cancelar
