body {
  background-image: url("./images/mesa.jpg");
  background-size: cover;
}

h1 {
  color: #ffffff;
  text-align: center;
  font:300% sans-serif;
}

h2{
	color: #ffffff;
	text-decoration: underline;
	font:150% sans-serif;
}

h3{
	color: #ffffff;
	font:150% sans-serif;
}

h4{
	font:150% sans-serif;
	font-size: 20px;
	color:#ffffff;
}

h5{
	color: #ffffff;
	text-decoration: underline;
	font:150% sans-serif;
	text-align: center;
}

p {
  font-size: 20px;
  color:#ffffff;
}

.button1{
	background-color: #e7e7e7;
	color:black;
	border:none;
	padding:10px 25px;
	text-align: center;
	font-size: 16px;
	margin: 13px;
  border-radius: 8px;
  box-shadow: 0px 5px #666;
}

.button1:active {
  background-color: #696969;
  color: white;
  box-shadow: 0 5px #333333;
}

.field{
	background-color: #ffffff;
	border:none;
	padding:10px 25px;
	text-align: center;
	font-size: 16px;
	margin: 3px;
  border-radius: 8px;
}

.img{
	margin-left:13px;
	width: 100px;
	height: 140px;
  border-radius: 4px;
}

.imgMesa{
  margin-left:13px;
  width: 100px;
  height: 140px;
  border-radius: 4px;
  box-shadow: 0px 5px #666;
}

.imgMesa:active{
  opacity: 0.9;
  box-shadow: 0 5px #333333;
}

.imgDis{
	margin-left:13px;
	opacity: 0.6;
  cursor: not-allowed;
  border-radius: 4px;
}

.imgTrans{
	margin-left:13px;
	width: 100px;
	height: 140px;
	opacity: 0.3;
  border-radius: 4px;
}

#contenedor {
  width: 1000px;
}

#left {
  float: left;
  width: 350px;
  height: 600px;
  background-image: url("./images/paño.jpg");
  margin-left: 30px;
}

#right {
  float: left;
  width: 500px;
  margin-left: 50px;
}

.space{
  height: 13px;
}
