body {
    background-image: url("./images/mesa.jpg");
    background-size: cover;
}

h1 {
    color: #ffffff;
    text-align: center;
    font:300% sans-serif;
}

h2{
	color: #ffffff;
	text-decoration: underline;
	font:150% sans-serif;
}

h3{
	color: #ffffff;
	font:150% sans-serif;
}

h4{
	font:150% sans-serif;
	font-size: 20px;
	color:#ffffff;
}

h5{
	color: #ffffff;
	text-decoration: underline;
	font:150% sans-serif;
	text-align: center;
}

p {
    font-size: 20px;
    color:#ffffff;
}

.button1{
	background-color: #e7e7e7;
	color:black;
	border:none;
	padding:10px 25px;
	text-align: center;
	font-size: 16px;
	margin: 13px;
}

.field{
	background-color: #ffffff;
	border:none;
	padding:10px 25px;
	text-align: center;
	font-size: 16px;
	margin: 3px;
}

.img{
	margin-left:13px;
	width: 100px;
	height: 140px;
}

.imgDis{
	margin-left:13px;
	opacity: 0.6;
        cursor: not-allowed;
}

.imgTrans{
	margin-left:13px;
	width: 100px;
	height: 140px;
	opacity: 0.3;
}

#contenedor {
  width: 1000px;
}

#left {
  float: left;
  width: 350px;
  height: 600px;
  background-image: url("./images/paño.jpg");
  margin-left: 30px;
}

#right {
  float: left;
  width: 500px;
  margin-left: 50px;
}

.space{
  height: 13px;
}
